.backButton {
  position: fixed !important; 
  top: 16px;
  right: 16px;
}

.tabs {
  margin-bottom: 32px;
}

.resultsContainer {
  display: flex;
  flex-direction: column;
}

.selectWrap {
  width: 100%;
  max-width: 300px;
  align-self: center;
}