.container {
  margin-top: 48px;
}

.title {
  font-size: 32px;
  margin-bottom: 16px;
}

.characters {
  list-style-type: none;
}

.character {
  display: flex;
  padding: 16px 16px 8px;
  margin-bottom: 16px;
}

.characterImage {
  width: 72px;
  height: 72px;
  min-width: 72px;
  flex-shrink: 0;
  border-radius: 50%;
  margin-right: 16px;
}

.content {
  display: flex;
  flex-direction: column;
}

.inputLabel {
  flex-grow: 1;
}

.block {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.radioGroup {
  padding-right: 32px;
}

.input {
  margin-top: 8px;
}