.users {
  list-style-type: none;
  margin-bottom: 32px;
}

.user {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  padding: 16px;
  margin-bottom: 16px;
}

.user > img {
  width: 48px;
  height: auto;
  margin-left: 8px;
}

.user:first-child {
  background:#fff;
  animation: colorRotate 2s;
  -moz-animation: colorRotate 2s infinite; /* Firefox */
  -webkit-animation: colorRotate 2s infinite; /* Safari and Chrome */
}

.position {
  width: 30px;
}

.name {
  padding: 0 8px;
  flex-grow: 1;
}

.points {
  color: #00bcd4;
}

@keyframes colorRotate {
  0% {background:#fff;}
  50% {background:#ffeb3b;}
  100% {background:#fff;}
}

@-moz-keyframes colorRotate {
  0% {background:#fff;}
  50% {background:#ffeb3b;}
  100% {background:#fff;}
}

@-webkit-keyframes colorRotate {
  0% {background:#fff;}
  50% {background:#ffeb3b;}
  100% {background:#fff;}
}