.container {
  margin-top: 48px;
}

.button {
  width: 100%;
  margin-top: 16px;
}

.block {
  display: flex;
  flex-direction: column;

  padding: 16px 16px 8px;
  margin-bottom: 16px;
}

.input {
  margin-top: 8px;
  margin-bottom: 12px;
}